.mainLogo {
    text-decoration: none;
    color: black;
    width: 115px;
    height: 100px;
}

.Button {
    text-decoration: none;
    color: black;
}

nav {
    width: 560px;
    height: 30px;
    gap: 40px;
}

header {
    display: flex;
    justify-content: space-between;;
}

body {
    background-color: #FFF8E8;
}