.mainLogo {
    width: 115px;
    height: 100px;
}

@media screen and (max-width: 600px) {
    .mainLogo {
        width: 50px;
        height: 45px;
    }
}

.Button {
    text-decoration: none;
    color: black;
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 100;
}

@media screen and (max-width: 600px) {
    .Button {
        font-size: 10px;
    }
}

nav {
    width: 560px;
    height: 30px;
    gap: 40px;
    margin-top: 35px;
    display: flex;
}

@media screen and (max-width: 600px) {
    nav {
        width: auto;
        height: 10px;
        gap: 10px;
        margin-top: 20px;
    }
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
    header {
        gap: 20px;
    }
}

body {
    background-color: #FFF8E8;
    margin: 90px 140px 40px 140px;
    height: auto;
}

@media screen and (max-width: 600px) {
    body {
        margin: 20px;
    }
}

main {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
        gap: 40px;
    }
}

.mainPhotoNews {
    width: 1150px;
    height: 530px;
    margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
    .mainPhotoNews {
        width: 320px;
        height: 430px;
        margin-bottom: -120px;
    }
}

.firstHeader {
    text-decoration: none;
    color: black;
    font-family: "Unbounded";
    font-size: 90px;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .firstHeader {
        font-size: 30px;
        color: white;
        height: 120px;
        width: 250px;
        margin-left: 10px;;
    }
}

.descriptionNews {
    text-decoration: none;
    color: black;
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 550;
    width: 400px;
    height: 110px;
}

@media screen and (max-width: 600px) {
    .descriptionNews {
        width: 320px;
        height: 120px;
        font-weight: 350;
    }
}

.textButton {
    text-decoration: none;
    color: white;
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;
}

@media screen and (max-width: 600px) {
    .textButton {
        font-size: 15px;
        padding-top: 25px;
        font-weight: 900;
    }
}

.buttonMore {
    width: 240px;
    height: 80px;
    background-color: #FF5858;
    display: flex; 
    justify-content: center; 
}

@media screen and (max-width: 600px) {
    .buttonMore {
        width: 220px;
        height: 60px;
    }
}

.buttonMore:active {
    transform: scale(0.95); /* Уменьшение элемента при нажатии */
    background-color: #c26969; /* Темный синий фон при нажатии */
}

.descriptionButton {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (max-width: 600px) {
    .descriptionButton {
        gap: 20px;
    }
}

.infoAbNews {
    display: flex;
    flex-direction: row;
    gap: 155px;
    width: 1150px;
}

@media screen and (max-width: 600px) {
    .infoAbNews {
        flex-direction: column;
        width: auto;
        gap: 20px;
    }
}

.newsOfDay {
    background-color: #000233;
    width: 450px;
    height: 820px;
    margin-left: 30px;
}

@media screen and (max-width: 600px) {
    .newsOfDay {
        width: 320px;
        height: auto;
        margin-left: 0px;
    }
}

.newsDayHeader {
    color: #FFB800;
    font-family: "Unbounded";
    font-size: 35px;
    font-weight: 550;
    display: flex;
    justify-content: center;
    width: 450px;
    height: 40px;
    margin-bottom: 60px;
}

@media screen and (max-width: 600px) {
    .newsDayHeader {
        font-size: 25px;
        width: auto;
        height: auto;
        margin-bottom: 30px;
    }
}

.headerInBlock {
    text-decoration: none;
    color: white;
    font-family: "Unbounded";
    font-size: 35px;
    font-weight: 450;
}

@media screen and (max-width: 600px) {
    .headerInBlock {
        font-size: 20px;
    }
}

.descriptionInBlock {
    color: white;
    font-family: "Unbounded";
    font-size: 15px;
    font-weight: 150;
    width: 350px;
    height: 50px;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .descriptionInBlock {
        width: 200px;
        height: 50px;
        font-size: 10px;
    }
}

.blockOfNews1 {
    margin-left: 20px;
}

.blockOfNews2 {
    margin-left: 20px;
}

.blockOfNews3 {
    margin-left: 20px;
}

.blockOfNews4 {
    margin-left: 20px;
}

.newsOfDayList {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media screen and (max-width: 600px) {
    .newsOfDayList {
        gap: 20px;
    }
}