.mainLogo {
    text-decoration: none;
    color: black;
    width: 115px;
    height: 100px;
    font-family: "Unbounded";
    font-size: 90px;
    font-weight: 800;
}

.Button {
    text-decoration: none;
    color: black;
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 100;
}

nav {
    width: 560px;
    height: 30px;
    gap: 40px;
    margin-top: 35px;
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

body {
    background-color: #FFF8E8;
    margin: 90px 140px 40px 140px;
}

.mainPhotoTopic {
    width: 1130px;
    height: 460px;
    margin-top: 110px;
    margin-left: 260px;
    margin-bottom: 50px;
}

.headerTopic {
    color: black;
    font-family: "Unbounded";
    font-size: 50px;
    font-weight: 700;
    width: 725px;
    height: 185px;
    margin-left: 300px;
}

.logoInsta {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 3px;
    padding-bottom: 4px;
}

.logoTwitter {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 3px;
    padding-bottom: 4px;
}

.logoShare {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 3px;
    padding-bottom: 4px;
}

.follow {
    text-decoration: none;
    color: black;
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.boxInstagram {
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 35px;
    height: 30px;
}

.boxTwitter {
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 35px;
    height: 30px;
}

.boxShare {
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 35px;
    height: 30px;
}

.boxFollow {
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 85px;
    height: 30px;
}

.buttonPage {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 33px;
}

.headerAndButton {
    display: flex;
    flex-direction: row;
    gap: 90px
}

.descriptionText {
    width: 1050px;
    color: black;
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 30px;
}

.mainText {
    margin-left: 300px;
}

.photoUser {
    width: 50px;
    height: 50px;
}

.nameUser {
    color: black;
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 700;
    margin-top: 20px;
}

.infUser {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 1200px;
}