.mainLogo {
    width: 115px;
    height: 100px;
}

@media screen and (max-width: 600px) {
    .mainLogo {
        width: 50px;
        height: 45px;
    }
}

.Button {
    text-decoration: none;
    color: black;
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 100;
}

@media screen and (max-width: 600px) {
    .Button {
        font-size: 10px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .Button {
        font-size: 15px;
    }
}

nav {
    width: 560px;
    height: 30px;
    gap: 40px;
    margin-top: 35px;
    display: flex;
}

@media screen and (max-width: 600px) {
    nav {
        width: auto;
        height: 10px;
        gap: 10px;
        margin-top: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    nav {
        width: 480px;
        height: 25px;
    }
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
    header {
        gap: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    header {
        gap: 740px;
    }
}

body {
    background-color: #FFF8E8;
    margin: 90px 140px 40px 140px;
}

@media screen and (max-width: 600px) {
    body {
        margin: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    body {
        margin: 80px 60px 40px 60px;
    }
}

main {
    background-color: #000233;
    width: 1220px;
    height: 520px;
    margin-top: 130px;
    margin-left: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    main {
        margin-left: 20px;
        width: 300px;
        height: auto;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    main {
        margin-left: 70px;
    }
}

.photoUser {
    width: 240px;
    height: 240px;
    margin-left: 85px;
}

@media screen and (max-width: 600px) {
    .photoUser {
        margin-left: 105px;
        margin-top: 20px;
        width: 80px;
        height: 80px;
    }
}

.nameTopic1 {
    background-color: #FF7354;
    width: 70px;
    height: 20px;
    color: white;
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 400px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}


.nameTopic2 {
    background-color: #1BC841;
    width: 70px;
    height: 20px;
    color: white;
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 400px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.nameTopic3 {
    background-color: #E18AFF;
    width: 70px;
    height: 20px;
    color: white;
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 400px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.nameTopic4 {
    background-color: #FF7A9A;
    width: 70px;
    height: 20px;
    color: white;
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 400px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.nameTopic5 {
    background-color: #717171;
    width: 70px;
    height: 20px;
    color: white;
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 400px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.firstLineBlocks {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 90px;
    gap: 15px;
}

@media screen and (max-width: 600px) {
    .firstLineBlocks {
        margin-left: 0px;
    }
}

.secondLineBlocks {
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    gap: 15px;
}

@media screen and (max-width: 600px) {
    .secondLineBlocks {
        margin-left: 50px;
    }
}

.userName {
    font-family: "Unbounded";
    font-size: 40px;
    font-weight: 800px;
    color: #FFB800;
}

@media screen and (max-width: 600px) {
    .userName {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .blockName {
        width: auto;
        height: auto;
    }
}

.nameBlock {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 350px;
    color: white;
}

.descriptionUser {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 450px;
    color: white;
    width: 750px;
    height: 200px;
}

@media screen and (max-width: 600px) {
    .descriptionUser {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .descriptionUser {
        font-size: 10px;
        width: 270px;
        height: auto;
    }
}

.blockInfUser {
    gap: 15px;
}

.mainInformation {
    display: flex;
    flex-direction: column;
}

.generalInfo {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

@media screen and (max-width: 600px) {
    .generalInfo {
        flex-direction: column;
        gap: 30px;
    }
}

