.mainLogo {
    text-decoration: none;
    color: black;
    width: 115px;
    height: 100px;
    font-family: "Unbounded";
    font-size: 90px;
    font-weight: 800;
}

.Button {
    text-decoration: none;
    color: black;
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 100;
}

nav {
    width: 560px;
    height: 30px;
    gap: 40px;
    margin-top: 35px;
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

body {
    background-color: #FFF8E8;
    margin: 90px 140px 40px 140px;
}

main {
    background-color: #000233;
    width: 1220px;
    height: 520px;
    margin-top: 130px;
    margin-left: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoUser {
    width: 240px;
    height: 240px;
    margin-left: 85px;
}

.nameTopic1 {
    background-color: #FF7354;
    width: 70px;
    height: 20px;
    color: white;
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 400px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.nameTopic2 {
    background-color: #1BC841;
    width: 70px;
    height: 20px;
    color: white;
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 400px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.nameTopic3 {
    background-color: #E18AFF;
    width: 70px;
    height: 20px;
    color: white;
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 400px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.nameTopic4 {
    background-color: #FF7A9A;
    width: 70px;
    height: 20px;
    color: white;
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 400px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.nameTopic5 {
    background-color: #717171;
    width: 70px;
    height: 20px;
    color: white;
    font-family: "Unbounded";
    font-size: 10px;
    font-weight: 400px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.firstLineBlocks {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 90px;
    gap: 15px;
}

.secondLineBlocks {
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    gap: 15px;
}

.userName {
    font-family: "Unbounded";
    font-size: 40px;
    font-weight: 800px;
    color: #FFB800;
}

.nameBlock {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 350px;
    color: white;
}

.descriptionUser {
    font-family: "Unbounded";
    font-size: 20px;
    font-weight: 450px;
    color: white;
    width: 750px;
    height: 200px;
}

.blockInfUser {
    gap: 15px;
}

.mainInformation {
    display: flex;
    flex-direction: column;
}

.generalInfo {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

